body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-page .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
}

.header-page .logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

@media screen and (min-width: 768px) {
.header-page .logo {
  padding: 24px 0;
  margin-right: 120px;
}
}
@media screen and (min-width: 1158px) {
  .header-page .logo {
   padding: 24px 0;
   margin-right: 120px;
}
}

.page-nav {
display: none;
}

@media screen and (min-width: 768px) {
.page-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.page-nav .link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav .link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity color;
}

.page-nav .link:hover::after,
.page-nav .link:focus::after,
.page-nav .link.current::after {
  opacity: 1;
}

.page-nav .link:hover,
.page-nav .link:focus,
.page-nav .link:active,
.page-nav .link.current {
  font-weight: 500;
  color: #404bbf;
}
}

.nav-adress {
  display: none;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icons {
  display: block;
  fill: #2f2f37;
}


@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  
.nav-adress {
  display: block;
  font-style: normal;
  margin-left: auto;
}
/*
.adress-items {
  display: flex;
  gap: 40px;
  margin-left: auto;
}
*/
      

.nav-adress .link {
  color: #434455;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.nav-adress .link:hover,
.nav-adress .link:focus {
  color: #404bbf;
}
.nav-adress .link:active {
  color: #404bbf;
}
}


.section {
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-first {
  max-width: 1440px;
  display: flex;
  align-items: center;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .section-first {
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/people-office.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .section-first {
      padding-top: 188px;
      padding-bottom: 188px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
  } 
}

/*off section"*/

.hide {
  display: none;
}

.section-first .title {
  max-width: 216px;
  margin: 0 auto 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .section-first .title {
      max-width: 496px;
      margin: 0 auto 36px;
      font-weight: 700;
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;
  }
}

@media screen and (min-width: 1158px) {
.section-first .title {
  margin: 0 auto 48px;
}
}

.button-first,
.button-accent {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.button-first:hover,
.button-first:focus {
  background-color: #404bbf;
}

.button-first:active {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.priority-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .priority-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .priority-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .priority-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}
.priority-wrapper {
  display: none;
}

@media screen and (min-width: 1158px) {
  .priority-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }
}

.section-second .title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

@media screen and (min-width: 768px) {
  .section-second .title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .section-second .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.priority-text {
  font-weight: 500;
}

@media screen and (min-width: 1158px) {
  .priority-text {
    font-weight: 400;
  }
}

/*section Our Team*/

.section-third {
  background-color: #f4f4fd;
}

.section-third .title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

  .team-item {
    background-color: #fff;
    max-width: 264px;
  }

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    row-gap: 64px;

    .team-item {
    max-width: calc((100% - 24px) / 3);
  }
}
}

@media screen and (min-width: 1158px) {
  .team-item { 
    max-width: calc((100% - 3 * 24px) / 4);
  }
}

  

.team-item {  
  background-color: #fff;
}

.team-item:first-child {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.team-div {
  display: block;
  padding: 32px 16px;
}

.section-third .title-img {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-items {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: #404bbf;
}

.section-fourth .title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 72px;
    }
.portfolio-item {
  max-width: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 1158px) {
.portfolio-list {
  row-gap: 48px;
}
.portfolio-item {
  max-width: calc((100% - 2 * 24px) / 3);
}
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  display: flex;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.portfolio-item:first-child {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-div {
  display: block;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  max-width: 288px;
  height: 120px;
}
/*
@media screen and (min-width: 768px) {
  .portfolio-div {
    max-width: 356px;
  }
}


@media screen and (min-width: 1158px) {
.portfolio-div {
    max-width: 360px;
}
}
*/
.section-fourth .portfolio-img {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.footer-page {
  color: #f4f4fd;
  background-color: #2e2f42;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
.footer-page {
  padding: 100px 0;
}
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: start;
      gap: 24px;
      row-gap: 72px; 
       108px;
      justify-content: start;
    }
  }

@media screen and (min-width: 1158px) {
    .footer-wrmargin-left:apper {
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
        margin-left: 0;
    }
}


.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media screen and (min-width: 768px) {
.footer-logo {
  align-items: start; 
}
}

@media screen and (min-width: 1158px) {
.footer-logo {
  margin-right: 120px;
}
}

.footer-page .logo {
  display: flex;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-page .logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}


.social-media {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .social-media {
    margin-left: 0;
    margin-right: auto;
    }
  }    
/*
.social-media {
  margin-right: 80px;
}
*/


.social-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .social-text {
      text-align: start;
  }
}

.footer-list {
  gap: 16px;
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  background-color: #31d0aa;
}

.footer-form {
}

.text-subscribe {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .text-subscribe {
      text-align: start;
  }
}

.footer-form {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
.footer-form { 
  flex-direction: row;
  gap: 24px;
}
}


.input-text {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*
.input-text {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
*/

.input-text::placeholder {
  color: #fff;
}

.button-subscribe {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #404bbf;
}

.footer-input-icon {
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.backdrop:not(is-open) .modal {
  transform: translate(-50%, -50%), scale(1.5);
}

.btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  fill: #2e2f42;
  cursor: pointer;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-btn {
  width: 100%;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  border: none;
  background-color: #404bbf;
}

.btn-close:hover .icon-btn,
.btn-close:focus .icon-btn {
  fill: #fff;
}

.text-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-field {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-wrapper {
  display: flex;
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

.form-input:focus {
  border: 1px solid #4d5ae5;
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-area {
  margin-bottom: 16px;
}

.input-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

.input-textarea:focus {
  border: 1px solid #4d5ae5;
}

.modal-form-agremeent {
  margin-bottom: 24px;
}

.modal-form-agremeent-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked
  + .modal-form-agremeent-text
  > .modal-form-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-checkbox-icon {
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}
input[type='checkbox']:checked
  + .modal-form-agremeent-text
  > .modal-form-checkbox
  > .modal-form-checkbox-icon {
  opacity: 1;
}

input[type='checkbox']:focus-visible
  + .modal-form-agremeent-text
  > .modal-form-checkbox {
  outline: 2px solid #404bbf;
  outline-offset: 2px;
}

.modal-form-agremeent-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.button-accent {
  transition: background-colo 250ms cubic-bezier(0.4, 0, 0.2, 1) background-colo
    250ms cubic-bezier(0.4, 0, 0.2, 1);
}
